# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pdb
*.ipdb
*.iobj
*.exp

# Project user configuration
*.filters
*.user
*.opendb
*.vscode
*.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
# *.exe
*.out
*.app

# build folder
build/**

# Local builds
Projects/**/x64
Projects/**/libWizium
Projects/**/Debug
Projects/**/Release
